Flask
itsdangerous
Jinja2
Keras-Preprocessing
matplotlib
matplotlib-inline
MarkupSafe
numpy
scikit-learn
scipy
sklearn
streamlit
tensorboard
tensorboard-plugin-wit
tensorflow
Werkzeug
numpy
pandas
tensorflow-estimator
opencv-python